@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.05em;

  @media screen and (max-width: $tableWidth) {
    font-size: 30px;
  }
  @media screen and (max-width: $smTableWidth) {
    font-size: 28px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 26px;
  }
  @media screen and (max-width: $smPhoneWidth) {
    font-size: 24px;
  }
}

strong {
  font-weight: 600;
}

b {
  display: inline-block;
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// section, .section {
//   position: relative;
//   padding: 40px 0;

//   @media screen and (max-width: $smDesktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $tableWidth) {
//     padding: 30px 0;
//   }
//   @media screen and (max-width: $phoneWidth) {
//     padding: 20px 0;
//   }
// }

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}

.main {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: calc(180px + 40px);
  min-height: calc(100vh - 200px);

  h1 {
    color: #fff;
  }

  @media screen and (max-width: $lgDesktopWidth) {
    padding-top: calc(150px + 40px);
  }
  @media screen and (max-width: $smDesktopWidth) {
    padding-top: calc(140px + 36px);
  }
  @media screen and (max-width: $tableWidth) {
    padding-top: calc(140px + 30px);
  }
  @media screen and (max-width: $smTableWidth) {
    padding-top: calc(190px + 30px);
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: $lgDesktopWidth;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: calc($tableWidth + 160px);
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $smTableWidth;
  }
  @media screen and (max-width: $smTableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: calc($smPhoneWidth + 72px);
  }
  @media screen and (max-width: 414px) {
    max-width: calc($smPhoneWidth + 40px);
  }
  @media screen and (max-width: 375px) {
    max-width: calc($smPhoneWidth + 20px);
  }
  @media screen and (max-width: $smPhoneWidth) {
    max-width: 300px;
  }
}

.data-section {
  position: relative;
  background-color: #fff;
  border: 1px solid #E4E7ED;
  border-radius: 5px;
  padding: 24px;


  &__title {
    position: absolute;
    background-color: $main-color-blue;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
    padding: 4px 12px;
    top: 0;
    left: 12px;
    transform: translateY(-50%);
    z-index: 1;

    @media screen and (max-width: $smDesktopWidth) {
      font-size: 13px;
    }
    @media screen and (max-width: $phoneWidth) {
      max-width: 360px;
      font-size: 12px;
    }
    @media screen and (max-width: 414px) {
      max-width: 333px;
    }
    @media screen and (max-width: 375px) {
      max-width: 315px;
    }
    @media screen and (max-width: $smPhoneWidth) {
      max-width: 275px;
    }
  }

  .el-table {
    th {
      &.el-table__cell {
        background-color: transparent;
      }
    }
    tr {
      background-color: transparent;
    }
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 16px;
  }
}

// Modules:
@import 'common/main';
