// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;
$additionallyFont        : 'NotoSansSC', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #606266;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$lgDesktopWidth          : 1600px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #fff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999;

$main-color-blue         : #0757A0;
$main-color-blue-light   : #2578c3;
$main-color-yellow       : #FFD700;
$main-color-yellow-light : #fdde3c;
$main-color-silver       : #c4c4c4;
$main-color-silver-light : #d0cece;
$main-color-milk         : #FBF9EE;
$main-color-milk-light   : #d0cece;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
