// Your custom styles:

.bb {
  border-bottom: 1px solid #ebeef5;
}

.text-yellow {
  color: $main-color-yellow !important;
}
.text-blue {
  color: $main-color-blue !important;
}
.text-silver {
  color: $main-color-silver !important;
}
.text-milk {
  color: $main-color-milk !important;
}

.bg-yellow {
  background-color: $main-color-yellow !important;
}
.bg-blue {
  background-color: $main-color-blue !important;
}
.bg-silver {
  background-color: $main-color-silver !important;
}
.bg-milk {
  background-color: $main-color-milk !important;
}

a {
  &.hover-underline {
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

.el-form-item__label {
  font-weight: 500;
  line-height: 1.6;
}

.el-checkbox__input {
  &.is-checked {
    & +.el-checkbox__label {
      color: $neutral-regular;
    }
  }
}

.el-form-item {
  &.text-left {
    .el-form-item__label {
      text-align: left;
    }
  }
  &.text-center {
    .el-form-item__label {
      text-align: center;
    }
  }
  &.text-right {
    .el-form-item__label {
      text-align: right;
    }
  }
}

.el-input {
  height: 40px;

  @media screen and (max-width: $phoneWidth) {
    height: 36px;
  }
}

table {
  th {
    &.el-table__cell {
      font-weight: 500;
    }
  }
}

.el-table {
  thead {
    color: #3D3D3D;
  }

  .el-table {
    &__cell {
      padding: 12px 0;
    }
  }

  .cell {
    padding: 0 8px;
  }
}

.aln-table {
  overflow-x: auto;

  .el-table__inner-wrapper {
    min-width: 860px;
  }
}

.el-button {
  height: 40px;

  @media screen and (max-width: $smDesktopWidth) {
    font-size: 13px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 12px;
    height: 36px;
  }
}

.el-button--large {
  font-size: 22px;
  height: 56px;
  padding: 12px 36px;

  @media screen and (max-width: $smDesktopWidth) {
    font-size: 18px;
    height: 52px;
    padding: 10px 30px;
  }
  @media screen and (max-width: $smTableWidth) {
    font-size: 16px;
    height: 48px;
    padding: 8px 24px;
  }
  @media screen and (max-width: $smTableWidth) {
    font-size: 15px;
    height: 45px;
  }
}

.btn-yellow {
  background-color: $main-color-yellow;
  border-color: $main-color-yellow;
  color: $main-color-blue;

  &:hover, &:focus {
    background-color: $main-color-yellow-light;
    border-color: $main-color-yellow;
    color: $main-color-blue;
  }
  &:active {
    border-color: #b88230;
  }
}

.btn-blue {
  background-color: $main-color-blue;
  border-color: $main-color-blue;
  color: #fff;

  &:hover, &:focus {
    background-color: $main-color-blue-light;
    border-color: $main-color-blue;
    color: #fff;
  }
  &:active {
    border-color: #337ecc;
  }
}

.btn-silver {
  background-color: $main-color-silver;
  border-color: $main-color-silver;
  color: #fff;

  &:hover, &:focus {
    background-color: $main-color-silver-light;
    border-color: $main-color-silver;
    color: #fff;
  }
  &:active {
    border-color: #73767a;
  }
}

.btn-text {
  padding: 0;
  height: initial;

  & +.el-button {
    margin-left: 0;
  }

  &:hover {
    opacity: .8;
  }
}
